.dashimagebg{
    background-image: url(https://live.sovryn.app/static/media/sovryn-logo-white.8b20e555.svg);
    background-repeat: no-repeat;
    background-color: rgb(6 6 6);
    padding: 22px;
    margin-top: 50px;
    margin-left: 75px;
    width: auto
}

.dashcard{
    height : 310px
}

.dash-card-heading{
    height: 150px;
    background: black
}

.dash-card-title{
    margin-left: 109px;
    color: white;
    font-weight: 900;
    text-shadow: 1px 4px 6px #b98628;
}