<div class="swap-container">
  <div class="row">
    <div class="table-container col-md-6" id="swaptable">
      <table class="table" style="color: white;" >
        <thead class="thead-dark">
          <tr>
            <th class="dash-table-cell" scope="col">From</th>
            <th class="dash-table-cell" scope="col">To</th>
            <th class="dash-table-cell" scope="col">From Value</th>
            <th class="dash-table-cell" scope="col">To Value</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <td class="dash-table-cell">
              <span class="dash-table-font">{{ item.fromTokenName }}</span>
            </td>
            <td class="dash-table-cell">
              <span class="dash-table-font">{{ item.toTokenName }}</span>
            </td>
            <td class="dash-table-cell">
              <span class="dash-table-font">{{ item.fromTokenValue }}</span>
            </td>
            <td class="dash-table-cell">
              <span class="dash-table-font">{{ item.toTokenValue }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
