.swap-container {
  color: white;
}
.dash-table-cell {
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  text-shadow: 0 0 #ffffff00;
}
.dash-table-font {
  text-shadow: -1px 1px 3px #cdb9b9;
  font-size: 14px;
}
