.header-logo {
  background-image: url(https://live.sovryn.app/static/media/sovryn-logo-white.8b20e555.svg);
  background-repeat: no-repeat;
  padding: 22px;
  margin-top: 50px;
  width: 250px;
  margin: 0 auto;
  margin-top: 14px;
  margin-left: 34px;
}
